.currentWeather{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: lightgray;
    margin-top: 3%;
    .mainWeather{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        .cityName{
            font-size: 1.6rem;
        }
        .Weather_in{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            img{
                width: 32px;
            }
        }
    }
    .subContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
        .SubSCON{
            width: 330px;
            display: flex;
            flex-direction: column;
            padding: 5% 0;
            border-radius: 5px;
            transition: .5s all ease-out;
            cursor: pointer;
            &:hover{
                margin: 0 0 5px 5px;
            box-shadow: 1px 0px 10px #222;
            background-color: rgba(255, 255, 255 , .2);
            }
            div{
                font-size: 1.5rem;
            }
            .value{
                text-align: center;
                font-size: 1.3rem;  
            }
        }
    }
}